<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jennifer.sportsmeeting.mapper.StudentMapper">
    <resultMap id="StudentList" type="Student">
        <id column="s_id" jdbcType="VARCHAR" property="sId"/>
        <result column="s_username" jdbcType="VARCHAR" property="sUsername"/>
        <result column="s_password" jdbcType="VARCHAR" property="sPassword"/>
        <result column="s_class" jdbcType="VARCHAR" property="sClass"/>
        <result column="s_major" jdbcType="VARCHAR" property="sMajor"/>
        <result column="s_sex" jdbcType="CHAR" property="sSex"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        s_id,s_username,s_password,s_class,s_major,s_sex,create_time
    </sql>

    <!--查询所有-->
    <select id="selectListStudent" resultMap="StudentList">
        select
        <include refid="Base_Column_List"/>
        from student where state=0
    </select>

    <!--分页查询-->
    <select id="selectByPage" resultMap="StudentList">
        select
        <include refid="Base_Column_List"/>
        from student where state=0
        <if test='keyWord!="" or keyWord!=null'>
            and s_username LIKE '%${keyWord}%'
        </if>
        <if test="page!=null and limit!=null">
            limit #{page},#{limit}
        </if>

    </select>

    <!--查询数据总数-->
    <select id="selectAllCount" resultType="java.lang.Integer" parameterType="java.lang.String">
        select count(*) from student
        <if test='parameter!="" or parameter!=null '>
            where s_username LIKE '%${keyWord}%'
        </if>
    </select>

    <!--修改-->
    <update id="updateStudent" parameterType="com.jennifer.sportsmeeting.mapper.StudentMapper">
        update student
        <set>
            <if test="sUsername != null">
                s_username = #{sUsername,jdbcType=VARCHAR}
            </if>
            <if test="sPassword != null">
                s_password = #{sPassword,jdbcType=VARCHAR}
            </if>
            <if test="sClass != null">
                s_class = #{sClass,jdbcType=VARCHAR}
            </if>
            <if test="sMajor != null">
                s_major = #{sMajor,jdbcType=VARCHAR}
            </if>
            <if test="sSex != null">
                s_sex = #{sSex,jdbcType=CHAR}
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>

        </set>
        where s_id = #{sId,jdbcType=VARCHAR}
    </update>


</mapper>

