<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/login.css" th:href="@{/css/login.css}">
    <link rel="stylesheet" href="/css/font.css" th:href="@{/css/font.css}">
    <link rel="stylesheet" href="/css/xadmin.css" th:href="@{/css/xadmin.css}">

    <script src="../js/jquery.min.js" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script src="../lib/layui/layui.js" th:src="@{lib/layui/layui.js}"></script>
    <script type="text/javascript" src="../js/xadmin.js" th:src="@{js/xadmin.js}"></script>
</head>
<body>

<div id="wrapper" class="login-page">
    <div id="login_form" class="form">
        <form class="register-form">
            <input type="text" placeholder="用户名" value="admin" id="r_user_name"/>
            <input type="password" placeholder="密码" id="r_password"/>
            <input type="text" placeholder="电子邮件" id="r_emial"/>
            <button id="create">创建账户</button>
            <p class="message">已经有了一个账户? <a href="#">立刻登录</a></p>
        </form>
        <!--登录页-->
        <form class="login-form layui-form" lay-filter="component-form-element" th:action="@{/login}" method="post">
            <h2 style="text-align: center">管理登录</h2>
            <div class="layui-card-body layui-row layui-col-space10">
                <div class="layui-col-md12">
                    <input type="radio" class="same" name="role" value="管理员" title="管理员" checked>
                    <input type="radio" class="same" name="role" value="裁判" title="裁判">
                    <input type="radio" class="same other" name="role" value="学生" title="学生">
                </div>
            </div>
                <input type="text" placeholder="用户名" id="user_name" name="mUsername"/>
                <input type="password" placeholder="密码" id="password" name="mPassword"/>

                <button id="login" type="submit">登　录</button>
                <p class="message counter">还没有账户? <a href="#">立刻创建</a></p>
                <p class="message" align="center" style="color:red" th:text="${msg}"
                   th:if="${not #strings.isEmpty(msg)}"></p>

        </form>
    </div>
</div>

<script type="text/javascript">


</script>


</body>
</html>