<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-L-admin1.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="shortcut icon" href="/favicon.ico" th:href="@{/favicon.ico}" type="image/x-icon"/>
    <link rel="stylesheet" href="../css/font.css" th:href="@{/css/font.css}">
    <link rel="stylesheet" href="../css/xadmin.css" th:href="@{/css/xadmin.css}">
    <!--    <link rel="stylesheet" href="lib/layui/css/layui.css" th:href="">-->

    <script src="../js/jquery.min.js" th:href="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" src="../lib/layui/layui.js" th:href="@{/lib/layui/layui.js}"
            charset="utf-8"></script>
    <script type="text/javascript" src="../js/xadmin.js" th:href="@{/js/xadmin.js}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .layui-laypage {
            margin-left: 35vm;
        }
    </style>
</head>

<body>
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">演示</a>
        <a>
          <cite>导航元素</cite></a>
      </span>
    <a class="layui-btn layui-btn-primary layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:38px">ဂ</i></a>
</div>

<div class="x-body">
    <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so">
            <input class="layui-input" placeholder="开始日" name="start" id="start">
            <input class="layui-input" placeholder="截止日" name="end" id="end">
            <input type="text" name="sUsername" placeholder="请输入姓名" id="sear1" autocomplete="off" class="layui-input">
            <input type="text" name="sClass" placeholder="请输入班级" autocomplete="off" class="layui-input">
            <div class="layui-input-inline">
                <select name="contrller" id="project">
                    <option value="">专业</option>
                    <option value="0">Math</option>
                    <option value="1">Computer</option>
                    <option value="2">China</option>
                    <option value="3">English</option>
                    <option value="4">Art</option>
                    <option value="5">Physics</option>
                    <option value="6">Chemistry</option>
                    <option value="7">Java</option>
                    <option value="8">C</option>
                    <option value="9">C++</option>
                    <option value="10">Python</option>
                    <option value="11">BootStrap</option>
                </select>
            </div>

            <button class="layui-btn" id="search-btn" lay-submit="" lay-filter="sreach"><i
                    class="layui-icon">&#xe615;</i></button>
        </form>
    </div>
    <xblock>
        <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
        <button class="layui-btn" onclick="x_admin_show('添加用户','./order-add.html')"><i class="layui-icon"></i>添加
        </button>
    </xblock>
    <!--表格-layui分页-->
    <table class="layui-hide" id="test" lay-filter="demo"></table>
    <div id="caseListTablePager" align="center"></div>

</div>

<script type="text/html" id="barDemo">
    <a title="编辑" onclick="x_admin_show('编辑','/html/editStudentManager.html')" href="javascript:;">
        <i class="layui-icon">&#xe642;</i>
    </a>
    <a title="删除" onclick="member_del(this,'要删除的id')" href="javascript:;">
        <i class="layui-icon">&#xe640;</i>
    </a>
</script>
<script type="text/javascript">
    layui.use(['form', 'jquery', 'laypage', 'table'], function () {
        getCaseList();
    });

    function getCaseList() {
        $.ajax({
            type: 'post',
            dataType: 'json',
            data: {
                page: 1,
                limit: 10,
                // keyWord: $("#sear1").val(),
                // project: $("#project").find("option:selected").val()
            },
            url: '/showData',
            success: function (data) {
                showCaseList(data);
                console.log("data2.limit:" + data.limit + "data.count:" + data.count);

                var laypage = layui.laypage;
                laypage.render({
                    elem: 'caseListTablePager'
                    , count: data.count  //总记录数，后端返回的记录总数
                    , limit: data.limit//每页记录数，后端返回的pageSize数据，实际为前端切换分页传入
                    ,limits:[10]
                    , prev: '<<'
                    , next: '>>'
                    , layout: ['prev', 'page', 'next', 'skip', 'count', 'limit']

                    , jump: function (obj, first) {
                        console.log("curr:" + obj.curr + "limit:" + obj.limit);
                        if (!first) {//首页不执行
                            //分页切换的回调
                            $.ajax({
                                type: 'post',
                                dataType: 'json',
                                data: {
                                    page: obj.curr,
                                    limit: obj.limit,
                                    // api_url: $("#apiurl").val(),
                                    // keyWord: $("#sear1").val(),
                                    // project: $("#project").find("option:selected").val()
                                },
                                url: '/showData',
                                success: function (data) {
                                    showCaseList(data);
                                }
                            })
                        }
                    }
                });
            }
        })
    }


    function showCaseList(data) {
        var caseArr = "";
        if (data.code == 0) {
            caseArr = data.data;
            var table = layui.table;
            console.log("table:" + table + "caseArr:" + JSON.stringify(caseArr)+ data.count + data.limit);
            table.render({
                count: data.count,
                limit:data.limit,
                elem: '#test',

                cols: [
                    [
                        {type: 'checkbox', fixed: 'left'}
                        // , {type: 'numbers', width: 80, title: '序号', fixed: 'center'}//序号
                        , {field: 'sId', width: 80, title: 'ID', fixed: 'left'}
                        , {field: 'sUsername', width: 90, title: '用户名'}
                        , {field: 'sPassword', width: 90, title: '密码'}
                        , {field: 'sClass', width: 80, title: '班级'}
                        , {field: 'sMajor', title: '专业', width: 120} //minWidth：局部定义当前单元格的最小宽度，layui 2.2.1 新增
                        , {field: 'sSex', title: '性别', sort: true, width: 80}
                        , {field: 'createTime', title: '创建日期', templet: '#createTime'}
                        , {fixed: 'right', width: 165, align: 'center', title: '操作', toolbar: '#barDemo'}
                    ]
                ],
                data: caseArr,
                page:false
            });
        }
    }


    /*分页*/
    // layui.use(['form','jquery', 'laypage', 'table'], function () {
    //     var form = layui.form
    //         ,laypage = layui.laypage //分页
    //         ,table = layui.table //表格
    //         ,$=layui.jquery
    //
    //      table.render({
    //         elem: '#test'
    //         ,height: 320
    //         , url: '/showData'//数据接口
    //          ,parseData: function(res){
    //              return {
    //                  "code": res.status, //解析接口状态
    //                  "msg": res.message, //解析提示文本
    //                  "count": res.total, //解析数据长度
    //                  "data": res.data.item //解析数据列表
    //              };
    //          }
    //         ,method: 'post' //默认：get请求
    //         ,limit: 5
    //          ,limits: [5,10,15]
    //         , cellMinWidth: 10 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
    //         , title: 'student'
    //      //   , page: true //开启分页
    //         ,request: {
    //             pageName: 'page' //页码的参数名称，默认：page
    //             ,limitName: 'limit' //每页数据量的参数名，默认：limit
    //         }
    //         // ,toolbar: 'default' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
    //         , cols: [
    //             [
    //                 {type: 'checkbox', fixed: 'left'}
    //                 , {type: 'numbers', width: 80, title: '序号', fixed: 'center'}//序号
    //                 , {field: 'sId', width: 80, title: 'ID', fixed: 'left'}
    //                 , {field: 'sUsername', width: 90, title: '用户名'}
    //                 , {field: 'sPassword', width: 90, title: '密码'}
    //                 , {field: 'sClass', width: 80, title: '班级'}
    //                 , {field: 'sMajor', title: '专业', width: 120} //minWidth：局部定义当前单元格的最小宽度，layui 2.2.1 新增
    //                 , {field: 'sSex', title: '性别', sort: true, width: 80}
    //                 , {field: 'createTime', title: '创建日期', templet: '#createTime'}
    //                 , {fixed: 'right', width: 165, align: 'center', title: '操作', toolbar: '#barDemo'}
    //             ]
    //         ]
    //     });
    //
    //
    // // 分页
    // laypage.render({
    //     elem: 'caseListTablePager' //分页容器的id
    //     ,count: 20 //数据总数，从服务端得到
    //     ,skin: '#1E9FFF' //自定义选中色值
    //     ,prev:'<span></span>'
    //     ,next:'<span></span>'
    //     ,layout:['count','prev','page','next','limit','skip']
    //     ,jump: function(obj, first){
    //         //obj包含了当前分页的所有参数，比如：
    //         console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
    //         console.log(obj.limit); //得到每页显示的条数
    //
    //         //首次不执行
    //         if(!first){
    //             layer.msg('第'+ obj.curr +'页', {offset: 'b'});
    //         }
    //     }
    // });
    //
    // // 监听头工具栏事件
    // table.on('toolbar(demo)', function(obj){
    //     var checkStatus = table.checkStatus(obj.config.id)
    //         ,data = checkStatus.data; //获取选中的数据
    //     switch(obj.event){
    //         case 'add':
    //             layer.msg('添加');
    //             break;
    //         case 'update':
    //             if(data.length === 0){
    //                 layer.msg('请选择一行');
    //             } else if(data.length > 1){
    //                 layer.msg('只能同时编辑一个');
    //             } else {
    //                 layer.alert('编辑 [id]：'+ checkStatus.data[0].id);
    //             }
    //             break;
    //         case 'delete':
    //             if(data.length === 0){
    //                 layer.msg('请选择一行');
    //             } else {
    //                 layer.msg('删除');
    //             }
    //             break;
    //     };
    // });
    //
    // //监听行工具事件
    // table.on('tool(test)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
    //     var data = obj.data //获得当前行数据
    //         ,layEvent = obj.event; //获得 lay-event 对应的值
    //     if(layEvent === 'detail'){
    //         layer.msg('查看操作');
    //     } else if(layEvent === 'del'){
    //         layer.confirm('真的删除行么', function(index){
    //             obj.del(); //删除对应行（tr）的DOM结构
    //             layer.close(index);
    //             //向服务端发送删除指令
    //         });
    //     } else if(layEvent === 'edit'){
    //         layer.msg('编辑操作');
    //     }
    // });
    //
    //
    // });

    layui.use('laydate', function () {
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });
    });


    /*用户-删除*/
    function member_del(obj, id) {
        layer.confirm('确认要删除吗？', function (index) {
            //发异步删除数据
            $(obj).parents("tr").remove();
            layer.msg('已删除!', {icon: 1, time: 1000});
        });
    }


    function delAll(argument) {

        var data = tableCheck.getData();

        layer.confirm('确认要删除吗？' + data, function (index) {
            //捉到所有被选中的，发异步进行删除
            layer.msg('删除成功', {icon: 1});
            $(".layui-form-checked").not('.header').parents('tr').remove();
        });
    }
</script>

<!--日期格式化js-->
<!--<script th:src="@{/static/js/date-format.js}" type="text/javascript" charset="utf-8"></script>-->
<!--<script id="createTime" type="text/html">-->
<!--    {{#-->
<!--    var date = new Date();-->
<!--    date.setTime(d.createTime);-->
<!--    return date.Format("yyyy-MM-dd hh:mm:ss");-->
<!--    }}-->
<!--</script>-->

</body>

</html>