<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="lib/layui/css/layui.css">
</head>
<body>
<div style="margin-top: 17px;margin-left: 110px;">
    <span>班级搜索：</span><input type="text" style="height: 27px;width: 220px;" id="sear1" placeholder="请输入班级进行模糊查询"/>
</div>

<div class="layui-card-body">
    <table class="layui-hide" id="test"></table>
</div>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script src="js/jquery.min.js"></script>
<script src="lib/layui/layui.js"></script>

<script>
    layui.use('table', function () {
        var kw = '';
        addData(kw);
    });

    function addData(kwx) {
        var table = layui.table;
        table.render({
            elem: '#test'
            , url: '../../showData?keyWord=' + kwx
            , limit: 11 //默认为10
            , cols: [
                [
                    {type: 'checkbox', fixed: 'left'}
                    , {field: 'sId', width: 80, title: 'ID', fixed: 'left'}
                    , {field: 'sUsername', width: 80, title: '用户名'}
                    , {field: 'sPassword', width: 80, title: '密码'}
                    , {field: 'sClass', width: 80, title: '班级'}
                    , {field: 'sMajor', title: '专业'} //minWidth：局部定义当前单元格的最小宽度，layui 2.2.1 新增
                    , {field: 'sSex', title: '性别', sort: true}
                    , {field: 'createTime', title: '创建日期'}
                    , {fixed: 'right', width: 165, align: 'center', title: '操作', toolbar: '#barDemo'}

                ]
            ]
            , page: true
            , done: function (res, curr, count) {
                //数据的回调用，可不写
            }
        });
    }

    $("#sear1").keyup(function (event) {
        if (event.keyCode == 13) {
            var keyWord = $("#sear1").val();
            addData(keyWord);
        }
    });
</script>
</body>
</html>
