<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="lib/layui/css/layui.css">
</head>
<body>
<div style="margin-top: 17px;margin-left: 110px;">
    <span>班级搜索：</span><input type="text" style="height: 27px;width: 220px;" id="sear1" placeholder="请输入班级进行模糊查询"/>
</div>

<div class="layui-card-body">
    <div style="width: 95%;height: auto;min-height: 700px;margin-left: 15px">
        <table class="layui-hide" id="caseListTable" lay-filter="caseListTable">
        </table>
        <div id="caseListTablePager" align="center"></div>
    </div>
</div>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script src="js/jquery.min.js"></script>
<script src="lib/layui/layui.js"></script>

<script>
    // layui.use(['form', 'jquery', 'laypage', 'table'], function () {
    //     var kw = '';
    //     getCaseList();
    // });
    //
    // function getCaseList() {
    //     $.ajax({
    //         type: 'post',
    //         dataType: 'json',
    //         data: {
    //             curr: 1,
    //             limit: 10,
    //             // keyWord: $("#sear1").val(),
    //             // project: $("#project").find("option:selected").val()
    //         },
    //         url: '/showData',
    //         success: function (data) {
    //             console.log("firat-data.code:" + data.code);
    //             showCaseList(data);
    //             console.log("data2.limit:" + data.limit + "data.count:" + data.count);
    //
    //             var laypage = layui.laypage;
    //             laypage.render({
    //                 elem: 'caseListTablePager'
    //                 , count: data.count  //总记录数，后端返回的记录总数
    //                 , limit: data.limit//每页记录数，后端返回的pageSize数据，实际为前端切换分页传入
    //                 ,limits:[10]
    //                 , prev: '<<'
    //                 , next: '>>'
    //                 , layout: ['prev', 'page', 'next', 'skip', 'count', 'limit']
    //
    //                 , jump: function (obj, first) {
    //                     console.log("curr:" + obj.curr + "limit:" + obj.limit);
    //                     console.log("first1:" + first);
    //                     if (!first) {//首页不执行
    //                         console.log("first2:" + first);
    //                         //分页切换的回调
    //                         $.ajax({
    //                             type: 'post',
    //                             dataType: 'json',
    //                             data: {
    //                                 curr: obj.curr,
    //                                 limit: obj.limit,
    //                                 // api_url: $("#apiurl").val(),
    //                                 // keyWord: $("#sear1").val(),
    //                                 // project: $("#project").find("option:selected").val()
    //                             },
    //                             url: '/showData',
    //                             success: function (data) {
    //                                 console.log("second-data.code:" + JSON.stringify(data));
    //                                 showCaseList(data);
    //                             }
    //                         })
    //                     }
    //                 }
    //             });
    //         }
    //     })
    // }
    //
    //
    // function showCaseList(data) {
    //     var caseArr = "";
    //     if (data.code == 0) {
    //         caseArr = data.data;
    //         var table = layui.table;
    //         console.log("table:" + table + "caseArr:" + JSON.stringify(caseArr)+ data.count + data.limit);
    //         table.render({
    //             count: data.count,
    //             limit:data.limit,
    //             elem: '#test',
    //
    //             cols: [
    //                 [
    //                     {type: 'checkbox', fixed: 'left'}
    //                     , {type: 'numbers', width: 80, title: '序号', fixed: 'center'}//序号
    //                     , {field: 'sId', width: 80, title: 'ID', fixed: 'left'}
    //                     , {field: 'sUsername', width: 90, title: '用户名'}
    //                     , {field: 'sPassword', width: 90, title: '密码'}
    //                     , {field: 'sClass', width: 80, title: '班级'}
    //                     , {field: 'sMajor', title: '专业', width: 120} //minWidth：局部定义当前单元格的最小宽度，layui 2.2.1 新增
    //                     , {field: 'sSex', title: '性别', sort: true, width: 80}
    //                     , {field: 'createTime', title: '创建日期', templet: '#createTime'}
    //                     , {fixed: 'right', width: 165, align: 'center', title: '操作', toolbar: '#barDemo'}
    //                 ]
    //             ],
    //             data: caseArr,
    //         });
    //     }
    // }

</script>
</body>
</html>
